---
export interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class:list={["cards-container", className]}>
  <slot />
</div>

<script>
  import { isTouchScreen } from "../../store.js";

  const cards = document.querySelectorAll(".card");
  const wrapper = document.querySelector(".cards-container");

  if (wrapper !== null)
    wrapper.addEventListener("mousemove", ($event) => {
      if (isTouchScreen.get()) return;
      cards.forEach((card) => {
        const rect = card.getBoundingClientRect();
        const x = ($event as any).clientX - rect.left;
        const y = ($event as any).clientY - rect.top;

        (card as any).style.setProperty("--xPos", `${x}px`);
        (card as any).style.setProperty("--yPos", `${y}px`);
      });
    });
</script>
<style></style>
