---
import { Icon } from "astro-icon/components";
---

<!-- Github -->
<a
  href="https://github.com/ValentinTT/"
  aria-label="my Github account"
  target="_blank"
  data-twe-ripple-init
  data-twe-ripple-color="light"
  class="mb-2 inline-block rounded bg-black px-6 py-2.5 text-xs font-medium uppercase leading-normal text-white shadow-md transition duration-150 ease-in-out hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg"
>
  <span class="[&>svg]:h-5 [&>svg]:w-6">
    <Icon name="ph:github-logo" class="text-text s-4" />
  </span>
</a>
<!-- Linkedin -->
<a
  href="https://www.linkedin.com/in/valentintt/"
  aria-label="my Linkedin account"
  target="_blank"
  data-twe-ripple-init
  data-twe-ripple-color="light"
  class="mb-2 inline-block rounded bg-[#0077b5] px-6 py-2.5 text-xs font-medium uppercase leading-normal text-white shadow-md transition duration-150 ease-in-out hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg"
>
  <span class="[&>svg]:h-5 [&>svg]:w-6">
    <Icon name="ph:linkedin-logo" class="text-text s-4" />
  </span>
</a>

<!-- X -->
<a
  href="https://x.com/n1770w"
  aria-label="my twitter account"
  target="_blank"
  data-twe-ripple-init
  data-twe-ripple-color="light"
  class="mb-2 inline-block rounded bg-black px-6 py-2.5 text-xs font-medium uppercase leading-normal text-white shadow-md transition duration-150 ease-in-out hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg"
>
  <span class="[&>svg]:h-5 [&>svg]:w-6">
    <Icon name="ph:x-logo" class="text-text s-4" />
  </span>
</a>

<!-- mail -->
<a
  href="mailto:valentintapiatorti@gmail.com?subject=Wanna connect&body=Hey TT!"
  aria-label="send me an email"
  target="_blank"
  data-twe-ripple-init
  data-twe-ripple-color="light"
  class="mb-2 inline-block rounded bg-primary px-6 py-2.5 text-xs font-medium uppercase leading-normal text-white shadow-md transition duration-150 ease-in-out hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg"
>
  <span class="[&>svg]:h-5 [&>svg]:w-6">
    <Icon name="ph:envelope-simple" class="text-text s-4" />
  </span>
</a>
