---
import Layout from '../layouts/Layout.astro';  
---

<Layout title="Valentin TT">
  <main class="min-h-screen w-full flex justify-center items-center flex-col bg-background-950 text-primary-50">
    <p class="text-3xl">Primer titulo</p>
    <p class="italic">Segundo</p></main>
</Layout>

<style>
	 
</style>
