---
import SectionHeader from "../SectionHeader.astro";
---

<!-- background , background -->
<section
  class="bg-transparent overflow-hidden pt-16"
  id="about"
  data-color="#e8f5fc"
  data-color-dark="#030f17"
>
  <SectionHeader class="mb-14">About me.</SectionHeader>
  <div class="ml-4 mt-4 space-y-4">
    <p
      class="max-w-4xl lg:pr-10 xl:pr-52 lg:pt-6 px-5 lg:px-0 p-3 lg:py-0 mx-3 sm:mr-16 mt-5 lg:mx-0 border border-text-500 lg:border-0 rounded-lg shadow-[2.0px_4.0px_4.0px_rgba(0,0,0,0.10)] lg:shadow-none z-10 bg-background-50 lg:bg-transparent"
    >
      Hey there! 👋 I'm Valentin TT, a Full-stack Web Developer and Systems
      Engineer with extensive experience crafting <span
        class="font-semibold text-accent-700 italic"
        >robust web applications</span
      >. I thrive on the challenges of modern development and the collaborative
      spirit that drives innovation. Communication is key to my approach,
      fostering an environment where learning and growth flourish.
    </p>
    <p
      class="max-w-4xl lg:pr-10 xl:pr-52 lg:pt-6 px-5 lg:px-0 py-3 lg:py-0 mx-3 sm:ml-16 my-5 lg:mx-0 border border-text-500 lg:border-0 rounded-lg shadow-[2.0px_4.0px_4.0px_rgba(0,0,0,0.10)] lg:shadow-none z-10 bg-background-50 lg:bg-transparent"
    >
      Beyond my passion for web development, I'm deeply engaged in
      cybersecurity, reverse engineering, and electronics, actively contributing
      to <span class="font-semibold text-accent-700 italic">open-source</span>
       projects. These pursuits not only expand my skill set but also fuel my
      enthusiasm for tackling complex challenges and pioneering new ideas. With
      a wealth of experience in the field, I bring a seasoned perspective to
      every project, committed to delivering excellence and continuous
      improvement.
    </p>
  </div>
</section>

<style>
  p {
    font-size: clamp(0.5rem, 0.7rem + 0.4vw, 1.375rem);
    text-wrap: stable;
  }
</style>
