---
import SectionHeader from "../SectionHeader.astro";
---

<section
  class="min-h-screen w-full max-w-full bg-transparent text-secondary-50 space-y-5 overflow-hidden pt-16"
  id="projects"
  data-color="#d1eafa"
  data-color-dark="#051e2e"
>
  <SectionHeader class="mb-14">CONTACT ME.</SectionHeader>
</section>
