---
import SpotlightCardsContainer from "../Cards/SpotlightCardsContainer.astro";
import SpotlightCard from "../Cards/SpotlightCard.astro";
import SectionHeader from "../SectionHeader.astro";
import ProjectCard from "./Project/ProjectCard.astro";
import ImageLogo from "./Project/ImageLogo.astro";
import ProjectStack from "./Project/ProjectStack.astro";
---

<!-- background 50, background 50-->
<section
  class="min-h-screen w-full max-w-full flex flex-col items-center bg-transparent text-secondary-50 space-y-5 overflow-hidden pt-16"
  id="projects"
  data-color="#d1eafa"
  data-color-dark="#010101"
>
  <SectionHeader>PROJECTS.</SectionHeader>
  <SpotlightCardsContainer
    class="w-full flex flex-wrap justify-center items-center p-2 gap-2 sm:gap-4"
  >
    {
      [1, 2, 3, 4, 5, 6].map((i) => {
        return (
          <SpotlightCard
            from="#1fa0e0"
            via="#4519b3"
            class="bg-background dark:bg-zinc-950 text-text sm:h-96 w-[30rem]"
          >
            <ProjectCard
              title="Bee Watcher"
              codeLink="https://github.com/ValentinTT"
              blogLink="http://localhost:4321"
            >
              <ImageLogo
                src="/src/svg/projects/bee-watcher-logo.png"
                alt="Bee watcher logo"
                slot="logo"
              />

              <p class="text-zinc-700 dark:text-zinc-400">
                Radio frequency networked Arduinos gather internal hives' data
                (temperature, humidity, position and motion). They are then sent
                to a central unit for micro SD logging and emergency SMS alerts.
              </p>
              <div class="flex">
                {["Arduino", "C", "Next.js"].map((stack) => {
                  return <ProjectStack stackName={stack} />;
                })}
              </div>
            </ProjectCard>
          </SpotlightCard>
        );
      })
    }
  </SpotlightCardsContainer>
</section>
