---
import { Icon } from "astro-icon/components";

export interface Props {
  link: string;
  icon: string;
  class?: string;
  iconClass?: string;
  target?: "_blank" | "_self" | "_parent" | "_top";
}

const {
  link,
  icon,
  class: className,
  iconClass,
  target = "_blank",
} = Astro.props;
---

<a
  href={link}
  target={target}
  class:list={[
    "bg-background dark:bg-text dark:text-background py-2 px-6 rounded-xl shadow-md transition-all flex items-center space-x-2 border border-zinc-500 group",
    className,
  ]}
>
  <span><slot /></span>
  <span
    class="group-hover:translate-x-[2px] group-hover:-translate-y-[2px] transition-all"
  >
    <Icon
      name={icon}
      class:list={["text-text dark:text-background", iconClass]}
    />
  </span>
</a>
