---
export interface Props {
  fromToVia?: string;
}

let { fromToVia } = Astro.props;
if (fromToVia === undefined)
  fromToVia = "from-primary-300 via-accent-500 to-accent-800";
---

<h3
  class:list={[
    "bg-gradient-to-r p-1 bg-[length:_400%_400%] animate-border [animation-duration:_4s] rounded-md backdrop-blur inline-block m-1",
    fromToVia,
  ]}
>
  <span
    class="block rounded-md px-3 py-1 bg-black dark:bg-text-200 text-background dark:text-text select-none font-medium"
    ><slot /></span
  >
</h3>
