---
interface Props {
  title: string;
}

const { title } = Astro.props;
import Cursor from "../components/Cursor.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/main.css";
import "@fontsource/noto-sans";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Valentin TT portfolio" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-background-100 text-text-950">
    <Navbar />
    <main
      class="min-h-screen container mx-auto scroll-smooth sm:shadow-[4.0px_8.0px_8.0px_rgba(0,0,0,0.38)]"
    >
      <span
        class="hidden lg:inline-block fixed container top-16 h-3 rounded-md rounded-b-none border-[1px] border-b-0 border-text-800 z-50 opacity-0 transition-all"
        id="border-top"></span>
      <slot />
    </main>
    <Cursor />
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: var(--background-50) var(--background-300);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar-track {
    border-radius: 6px;
    border: 0px;
    background-color: var(--background-50);
  }

  *::-webkit-scrollbar {
    width: 8px;
    border: 0px;
    background-color: var(--background-50);
  }

  *::-webkit-scrollbar-thumb {
    border: 0px;
    background-color: var(--background-300);
  }

  *::selection {
    background-color: var(--background-950);
    color: var(--text-50);
    mix-blend-mode: multiply;
  }

  .scrolled {
    opacity: 1;
  }
</style>

<script>
  window.addEventListener("scroll", function () {
    const borderTop = document.getElementById("border-top");
    if (borderTop === null) return;
    if (window.scrollY > 30) {
      borderTop.classList.add("scrolled");
    } else {
      borderTop.classList.remove("scrolled");
    }
  });
  import Lenis from "@studio-freight/lenis";

  const lenis = new Lenis();

  function raf(time) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }

  requestAnimationFrame(raf);
</script>
